# Ignore compiled source #
*.class

# Ignore logs and databases #
*.log
*.sql
*.sqlite

# Ignore the bin directory
bin/
out/

# Ignore Log Files
src/logs/

# Ignore IDE specific files
# -- IDEA --
.idea/
*.iml

# -- VSCODE --
.vscode/

# -- ECLIPSE --
*.sw*
.classpath
.project